[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

retrying = "*"
ccxt = "*"
pylint = "*"
python-dotenv = "*"
python-telegram-bot = "*"
fabistrano = "*"
fabric = "*"
peewee = "*"
pymysql = "*"
schedule = "*"
